.bdt-notifications {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #fff;
    line-height: 16px;
    
    &__container {
        position: relative;
    }

    &--warning {
        background-color: #FF5722;
    }
}